/* couleur =  bleu #0065FC // bleu claire #DEEBFF // gris #F2F2F2 */

* {
    font-family : 'Raleway', sans-serif;
} 
 
h1 {
     font-size: 1.5em;
}  
    
h2 {
    font-size: 1.4em;
}  

h3 {
    font-size: 1.3em;
}  

a {
    color: inherit;
}    

/********** Section header *********/

.header a {
    text-decoration: none;
    font-size: 1.2em;
}


.header_nav_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header_nav_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo {
   width: 50%; 
}

.logo:hover {
    border-bottom: solid #0065FC 4px;
    width: 50%;
    margin-left: 0px;
    padding-left:0px;
    transition: 0.3s
    
}



.inscrition {
   color: #0065FC;
   font-weight: bolder;
   margin-right: 10px;
   transition: 0.3s;
   
}

.inscrition_2 {
    display: none;
}

.inscrition:hover {
    border-bottom: solid #0065FC 4px;
    width: 50%;
    margin-left: 88px;
    padding-left:110px;
}


.herbergement {
    border-bottom: solid #F2F2F2 4px;
    width: 50%;
    text-align: center;
    margin-left: -20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.activites {
    border-bottom: solid #F2F2F2 4px;
    width: 50%;
    text-align: center;
    margin-right: -20px;
    padding-right: 30px;
    padding-bottom: 10px;
}


.activites:hover, .herbergement:hover  {
    border-bottom: solid #0065FC 4px;
    width: 50%;
    color: #0065FC; 
    text-align: center;
    font-weight: bolder;
    transition: 0.3s

}


@media screen and (min-width: 991px) { /* valeur Ordinateur*/
  
    .header {
        display: flex;
        justify-content: space-between;
    }
    
    .header_nav_2{
        display: flex;
        justify-content: space-evenly;
        width: 35%;
        
        
    }

    .herbergement, 
    .activites {
        border-bottom: none;
        }

    .herbergement {
        color: #0065FC;
    }    

    .inscrition {
        display: none;
    }

    .inscrition_2 {
        display: flex;
        color: #0065FC;
        margin-top: -10px;
    }

    .herbergement:hover, 
    .activites:hover {
       border-bottom: solid transparent;
       transition: none;
    }
  
}


/********** Section recherche **********/
.slogan {
    font-size: 1.2em;
}


.filtre {
    display: flex;
    align-items: center;
}


.icon_carte {
    background-color: #F2F2F2;
    border-radius: 20% 0% 0% 20%;
    padding: 10px;
}


Input {
    border-color: #F2F2F2;
    border-width:3px;
    height:30px;
    width: 280px;
    margin: 0px -10px 0px 0px;
}


#nom::placeholder{
    color: black;
    font-weight: bold;
    padding-left: 10px;
}

.bouton_rechercher {
    background-color: #0065FC;
    color: white;
    border-radius: 30%;
    padding: 10px;  
}


.nom_filtre {
    font-size: 1.2em;
    font-weight: bold;
}   


/********** Boutons Filtre **********/

.filtres_liens {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
    }


.bouton {
    background: transparent;
    border: 0.125rem solid #F2F2F2;
    border-radius: 2.0rem;
    width: auto;
    padding: 10px 10px 10px 50px;
    margin-left: -42px;
    font-weight: bold;
    font-size: 1.1em;
    border-width:3px;
    margin-bottom: 15px;
    }


.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    padding: 0.9em;
    margin-right: -10px;
    width: 17px;
    height: 17px;
    }


@media screen and (min-width: 992px) { /* valeur Ordinateur*/
    .bouton_filtre {
        display: flex;
        align-items: center;    
    }    

    .mot_filtre {
        margin: 20px 10px 10px 0px ;
    }

    .filtres_liens {
        display: inline-flex;
        align-items: center;
        margin: 20px 30px 10px 10px ;
    }    

    .bouton {
        border: 0.125rem solid #F2F2F2;
        border-radius: 2.0rem;
        width: auto;
        padding: 10px 10px 10px 50px;
        margin-left: -42px;
        font-weight: bold;
        font-size: 1.1em;
        border-width:3px;
        margin-bottom: 0px;
    }

    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 100%;
        padding: 0.9em;
        margin: 0px -6px 0px 20px ;
        width: 17px;
        height: 17px;
        
    }       
}

/********** Point info **********/
.info {
    display: flex;
    align-items: baseline;  
    padding-bottom: 20px;
    }
    
.fa-info {
    color: #0065FC;
    background-color: white;
    border: 0.2rem solid #F2F2F2;
    border-radius: 100%;
    width: 6px;
    height: 0px;
    padding: 5px 10px 20px 10px;
    }  

.i_info {
    margin-left: 10px;
    font-size: 1.0em;
    }    
    

/********** Paramétrage commun section **********/
.nom_hotel {
    font-weight: bold;
    margin-top: -15px;  
    }


.prix_nuit {
    margin-top: -10px; 
    }    


.fa-star {
    color: #0065FC;
    font-size: 12px; 
    margin-top: 20px; 
    }

.etoile-2 :nth-child(5) {
    color: #F2F2F2;
    font-size: 12px; 
    margin-top: 20px; 
    }

.etoile-3 :nth-child(5) {
    color: #F2F2F2;
    font-size: 12px; 
    margin-top: 20px; 
    }







/********** section_hebergement_populaires **********/
.section_hebergement_populaires {
    background-color: #F2F2F2;
    margin: 0px -10px 0px -10px;
    padding-bottom: 10px;
    }

@media screen and (min-width: 630px) and (max-width: 991px){ /* valeur tablette*/

    .bloc_populaire {
        display: flex;
        justify-content: space-between ;
        } 
        } 
        
        


.titre_section_hebergement_populaires {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin : 10px 20px 10px 10px; 
     
    }


.fa-chart-line {
    font-size: 1.9em; 
    }


.box_image_hebergement_populaires {
    display: flex;
    align-items: center; 
    background-color: white;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    height: auto;
    }


.image_hebergement_populaires {
    width: 100px;
    height:100px;
    border-radius: 20px 0px 0px 20px;
    margin: 5px 5px 2px 5px;
    }


.texte_image_hebergement_populaires{
    margin-left: 10px;
    margin-top: 20px;
    }    

@media screen and (min-width: 630px) and (max-width: 991px){ /* valeur tablette*/

    .box_image_hebergement_populaires {
        display: block;
        flex: none;
        width: 210px;
        justify-content: space-evenly;     
    } 

    .image_hebergement_populaires {
        width: 200px;
        height:100px;
        border-radius: 20px 20px 0px 0px;
        margin: 5px 5px 2px 5px;
    }

    .bloc_hebergement_populaires {
        display: flex;
        justify-content: space-between;

    }

    .section_hebergement_populaires {
        border-radius: 20px;
        margin: 0px 5px 0px 5px ;
    }


} 

@media screen and (min-width: 992px) { /* valeur Ordinateur*/
   
    .division_herbergement {
        display: flex;
        justify-content: space-between;
        border: solid red 10px;
        padding: 10px 20px 10px 20px; 
        
    }
   
    .division_herbergement :nth-child(1){
    order:2; 
    }  
    

    .section_hebergement_populaires {
        border: solid green 4px;
        display: block;
        justify-content: space-evenly;
        border-radius: 20px;
        width: 22%;
        
        
    }

    .titre_section_hebergement_populaires {
        flex-direction: row-reverse;
    }


    .box_image_hebergement_populaires :nth-child(2) {
        order:2;
    }
        

    .section_hebergement {
        border-radius: 20px;
        width: 75%;
        background-color: #F2F2F2;
        border: solid blue 4px;
    }
  

     .bloc_herbergement {
         display: flex;
     }   

     .afficher {
         margin-top: -10px;
         margin-bottom: -20px;
     }



}


/********** Section herbergement**********/

.section_hebergement {
    padding-bottom: 10px;  
    }


.titre_section_hebergement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin : 10px 20px 10px 10px;  
    }


.fa-chart-line {
    font-size: 1.9em; 
    }


.box_image_hebergement {

    background-color: white;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    height: auto;
    box-shadow: 1px 1px 10px 10px #F2F2F2;
    padding-top: 1px;
    }


.image_hebergement {
    width: 98%;
    height:100px;
    border-radius: 20px 20px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 0px;
    }


.texte_image_hebergement{
    margin-left: 20px;
    margin-top: 10px;
    }   


.nom_hotel_hebergement {
    font-weight: bold;   
    }


.prix_nuit_herbergement {
    margin-top: -10px;
    margin-bottom: -15px; 
    }    


.etoile_herbergement_1, 
.etoile_herbergement_2, 
.etoile_herbergement_3, 
.etoile_herbergement_4, 
.etoile_herbergement_2, 
.etoile_herbergement_6, 
.fa-star {
    color:#0065FC;
    font-size: 12px;
    padding-bottom: 10px;
     
    }

.etoile_herbergement_1 :nth-child(5) {
    color: #F2F2F2;
    font-size: 12px;    
    }

.etoile_herbergement_3 :nth-child(5) {
    color: #F2F2F2;
    font-size: 12px;    
    }

.etoile_herbergement_4 :nth-child(5) {
    color: #F2F2F2;
    font-size: 12px;    
    }

.etoile_herbergement_4 :nth-child(4) {
    color: #F2F2F2;
    font-size: 12px;    
    }

.etoile_herbergement_5 :nth-child(5) {
    color: #F2F2F2;
    font-size: 12px;    
    }    

.afficher {
    padding: 10px 20px 20px 20px;
    font-weight: bold;
    font-size: 1.2em;
    }  
    
@media screen and (min-width: 630px) and (max-width: 991px){ /* valeur tablette*/ 
    .bloc_hebergement_1,
    .bloc_hebergement_2,
    .bloc_hebergement_3
  {
        display: flex;
        margin-left: 5px;
}  

   .image_hebergement {
        width: 350px;
        margin: 5px 5px 5px 5px;
} 
}  

/********** Section activites**********/

.section_activites {
    padding-bottom: 5px;  
}


.titre_section_activites {
    font-size: 1.4em;
    font-weight: bold ;
    margin : 10px 0px 50px 20px;  
}

    
.bloc_activites_1 {
    margin: 10px 10px 10px 10px;
    
}    


.box_image_activites {
    border-radius: 20px;
    height: auto;
}  
    

.image_activites {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 5px 5px #f1f1f1;
    margin-bottom: 30px;
}

.image_activites img {
    width: 100%;
    height:auto;
    border-radius: 20px 20px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;
    margin-bottom: 0px;
    
}

.image_activites p {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0px 0px 15px 15px ;
}


.nom_hotel_activites {
    font-weight: bold;
    padding-bottom: 10px;   
} 
    
    
@media screen and (min-width: 630px) and (max-width: 991px){ /* valeur tablette*/ 
    .bloc_activites_1,
    .bloc_activites_2 {
        display: flex;
    }


    .tablette_pc_2 {
    display: flex;
    }
}

@media screen and (min-width: 992px) { /* valeur Ordinateur*/
    

    .section_activites {
        border: solid red 4px;
    }

    .bloc_activites_1 {
        border: solid green 4px;
        display: flex;
        
    }

    .bloc_activites_2 {
        border: solid blue 4px;
    }


    .box_image_activites {display: flex;}

}


/********** Section footer**********/

.section_footer {
    background-color: #F2F2F2;
    padding-bottom: 10px;
    margin: 0px -10px 0px -10px;
}

.a_propos h3, .nos_hebergement h3, .asistance h3 {
    padding: 4git 0px 10px 10px 40px;
    margin-bottom: -20px;
    }

.section_footer li {
    list-style: none;
}    

@media screen and (min-width: 630px) and (max-width: 991px){ /* valeur tablette*/ 
    .section_footer {
        display: flex;
        justify-content: space-evenly;
        margin-left: -20px;
    }





}
