/* couleur =  bleu #0065FC // bleu claire #DEEBFF // gris #F2F2F2 */

* {
    font-family : 'Raleway', sans-serif;
} 
 
h1 {
     font-size: 1.5em;
}  
    
h2 {
    font-size: 1.4em;
}  

h3 {
    font-size: 1.3em;
}  

a {
    color: inherit;
    text-decoration: none;

}  

body {
    margin-left: 10px;
    margin-right:5px;
}

/********** Section header *********/

header {
    margin-top: 20px;
}

.header a {
    text-decoration: none;
    font-size      : 1.2em;
}


.header_nav_1 {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-bottom: 20px;
}

.header_nav_2 {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
}


.logo {
   width: 50%; 
}


.inscrition {
   color       : #0065FC;
   font-weight : bolder;
   margin-right: 10px;
   transition  : 0.3s;
}

.inscrition_2 {
    display      : none;
}


.inscrition:hover {
    border-bottom: solid #0065FC 4px;
    width        : 50%;
    margin-left  : 88px;
    padding-left : 84px;
}


.herbergement {
    border-bottom : solid #F2F2F2 4px;
    width         : 50%;
    text-align    : center;
    margin-left   : -20px;
    padding-left  : 20px;
    padding-bottom: 10px;
}





.activites {
    border-bottom : solid #F2F2F2 4px;
    width         : 50%;
    text-align    : center;
    margin-right  : -20px;
    padding-right : 30px;
    padding-bottom: 10px;
}


.activites:hover, .herbergement:hover  {
    border-bottom: solid #0065FC 4px;
    width        : 50%;
    color        : #0065FC; 
    text-align   : center;
    font-weight  : bolder;
    transition   : 0.3s;
}







@media screen and (min-width: 630px) and (max-width: 991px){ /* valeur tablette*/

    .inscrition {
        display : none;
    }
    

    
    .header {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 99%;
        
    }


    .header_nav_1 {
        display        : flex;
        justify-content: space-between; 
        width          : 25%;
    }

    .header_nav_2 {
        display        : flex;
        justify-content: space-between; 
        width          : 75%;
    }


    .inscrition_2,
    .activites,
    .herbergement {
        display        : flex;
        text-align     : center;
        justify-content: center;
        border-bottom  : solid #F2F2F2 4px;
        width          : 25%;
        padding        : 10px 0px; 
        }


    .logo {
        margin-top: 10px;
        }


    .inscrition_2:hover,
    .activites:hover,
    .herbergement:hover
    {
        display      : flex;
        text-align   : center;
        border-bottom: solid #0065FC 4px;
        width        : 25%;
        color        : #0065FC;
        font-weight  : bolder;
        }
}


  
    
@media screen and (min-width: 991px) { /* valeur Ordinateur*/
  
    .header {
        display        : flex;
        justify-content: space-between;
        width          : 100ù;
    }
    
    .header_nav_1 {
        display        : flex;
        justify-content: space-between; 
        width          : 25%;
    }

    .header_nav_2 {
        display        : flex;
        justify-content: space-between; 
        width          : 35%;
        margin-right   : 20px;
    }
    
    
    .logo {
        margin-top: 10px;
    }
    

    .herbergement, 
    .activites {
        border-bottom: none;
    }

    .herbergement {
        color: #0065FC;
    }    

    .inscrition {
        display: none;
    }

    .inscrition_2 {
        display   : flex;
        color     : #0065FC;
        margin-top: -10px;
    }


    
    .herbergement   : hover, 
    .activites      : hover {
       border-bottom: none;
       transition   : none;
    }
  
    .inscrition_2   : hover {
        font-weight : bolder;
    }
  
}


/********** Section recherche **********/


section.les_filtres h1 {
    margin: 40px 0px 0px 0px; 
    }


.slogan {
    font-size: 1.2em;
    margin   : 10px 0px 40px 0px; 
}


.filtre {
    display      : flex;
    align-items  : center;
    width        : 100%;
    margin-bottom: 30px;
}


.icon_carte {
    background-color: #F2F2F2;
    border-radius   : 20% 0% 0% 20%;
    padding         : 5px 0px 5px 0px;
    width           : 15%;
    height          : 48px;    
}

.fa-map-marker-alt {
    margin   : 13px 0px 0px 20px;
    font-size: 1.5em;
}


Input {
    
    border      : solid #F2F2F2;
    border-width: 1px;
    height      : 35px;
    width       : 100%;
    margin      : 0px -10px 0px 0px;
    padding     : 10px 0px 10px 10px; 
    font-size   : 1.2em;
}

::placeholder {
color      : inherit;
font-weight: bolder;
}


.recherche {
    width: 70%;
}


.bouton_rechercher {
    background-color: #0065FC;
    border-radius   : 30%;
    padding         : 10px 0px 0px 0px;  
    width           : 15%;
    height          : 48px;  
}


.mot_rechercher {
    display: none;
}
  

.fa-search {
    color    : white;
    margin   : 8px 0px 0px 20px;
    font-size: 1.5em;
}


@media screen and (min-width: 630px) and (max-width: 991px){ /* valeur tablette*/

    .mot_rechercher {
        display: none;
    }


    .icon_carte {
        width: 8%;
    }


    .recherche{
        width: 32%;
    }


    .bouton_rechercher {
        width: 8%;   
    }

}


@media screen and (min-width: 991px) { /* valeur Ordinateur*/

    .icon_carte {
        width: 55px;
    }

    .recherche{
        width: 250px;
    }

    .bouton_rechercher {
        width: 55px;   
    }


    .bouton_rechercher {
        display: none;
    }

    .mot_rechercher {
        display         : flex;
        align-items     : center;
        background-color: #0065FC;
        border-radius   : 0px 20px 20px 0px ;
        padding         : 10px 0px 0px 10px;  
        width           : 135px;
        height          : 48px;  
    }


    .mot_rechercher p {
        font-size  : 1.2em;
        font-weight: bold;
        margin-left: 15px;
        color      : white;
        margin-top : 10px;
    }

    .section_filtre {
        display: flex;
        align-items: center;
    }


    .slogan {
        margin-bottom: 15px;
    }

}



/********** Section boutons Filtre **********/

.section_filtre {
    width: 100%;
}


.mot_filtre {
    font-size    : 1.2em;
    font-weight  : bold;
    margin-bottom: 10px;
} 


.filtres {
    display  : flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.bouton_filtre {
    display        : flex;
    align-items    : center;
    border         : solid #F2F2F2 2px;
    border-radius  : 50px;
    padding        : 0px 10px 0px 0px;
    margin-bottom  : 15px;
    text-decoration: none;
}


.bouton_filtre:hover {
    border: solid #0065FC 2px;
    transition: all 0.3s;
    box-shadow: 3px 3px 3px 3px #F2F2F2;
    
}


button.bouton {
    outline-style:none;
}



.bouton_filtre .fa-money-bill-wave {
    font-size    : 1.1em;
    color        :#0065FC;
    padding-right: 10px;
    position: relative;
    top:32%;
    left: 28%;
}


.bouton_filtre .fa-child {
    font-size    : 1.1em;
    color        :#0065FC;
    padding-right: 10px;
    position: relative;
    top:32%;
    left: 35%;
}

.bouton_filtre .fa-heart {
    font-size    : 1.1em;
    color        :#0065FC;
    padding-right: 10px;
    position: relative;
    top:32%;
    left: 30%;
}


.bouton_filtre .fa-dog {
    font-size    : 1.1em;
    color        :#0065FC;
    padding-right: 10px;
    position: relative;
    top:32%;
    left: 28%;
}



.iconfa {
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 100%;
}
    
.bouton {
    
    background: transparent;
    border-style: none;
    font-size: 1.2em;
    font-weight: bolder;
}  
    



@media screen and (min-width: 630px) and (max-width: 991px){ /* valeur tablette*/

    .section_filtre {
        display: block;
    }
    

    .filtres {
        display: flex; 
        justify-content: space-between;
    }

}


@media screen and (min-width: 992px) { /* valeur Ordinateur*/

    .section_filtre {
        display: block;
    }
 
 
    .bloc_tablette_pc {
     width: 100%;
     display: flex;
     align-items: center;
     }

    
    .filtres {
        
        display: flex;
        justify-content: flex-start;    
    } 


     .mot_filtre {
    margin-right: 25px;
    margin-top: 0px;
    }

    .bouton_filtre{
        margin-right: 20px;
    }

}






/********** Point info **********/
.info {
    display: flex;
    align-items: baseline; 
    margin-top: 10px; 
    padding-bottom: 0px;
    }
    
.fa-info {
    color: #0065FC;
    background-color: white;
    border: 0.2rem solid #F2F2F2;
    border-radius: 100%;
    width: 6px;
    height: 0px;
    padding: 5px 10px 20px 10px;
    }  

.i_info {
    margin-left: 10px;
    font-size: 1.0em;
    font-weight: bold;
    }    
    



/********** section_hebergement_populaires **********/

.division_herbergement {
    justify-content: center;
    align-items: center;
    margin: 0px 0px  0px 0px;
    width: 100%;
    
}


.section_hebergement_populaires {
    background-color: #F2F2F2;
    padding-bottom: 20px;
}


.titre_section_hebergement_populaires {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin : 10px 20px 10px 20px; 
}


.populaires{
    font-size: 1.5em;
    font-weight: bold;
    
}      


.fa-chart-line {
    font-size: 1.9em; 
}


.box_image_hebergement_populaires a{
display: flex;
align-items: center; 
background-color: white;
margin: 10px 21px 10px 20px;
border-radius: 20px;
height: auto;
cursor: pointer;
}


.image_herbergement_populaire_1 {
    background-image: url("../image/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-position:center;
    background-size: cover;
    width: 150px;
    height:150px;
    border-radius: 20px 0px 0px 20px;
    margin: 5px 5px 5px 5px;
}


.image_herbergement_populaire_2 {
    background-image: url("../image/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-position:center;
    background-size: cover;
    width: 150px;
    height:150px;
    border-radius: 20px 0px 0px 20px;
    margin: 5px 5px 5px 5px;
    
}

.image_herbergement_populaire_3 {
    background-image   : url("../image/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-position: center;
    background-size    : cover;
    width              : 150px;
    height             : 150px;
    border-radius      : 20px 0px 0px 20px;
    margin             : 5px 5px 5px 5px;
}

.texte_image_hebergement_populaires {
    width: 200px;

}

.nom_hotel {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
     
    
    }


.prix_nuit {
    font-size: 1.1em;
    margin-top: -10px;
    margin-left: 10px; 
     
    }    

.etoile-1,
.etoile-2,
.etoile-3,
.etoile-4 {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
    margin-left: 10px;
 
}



.fa-star {
    color: #0065FC;
    font-size: 12px; 
    margin: 20px 0px 0px 0px ;
     
    }

.etoile-2 :nth-child(5) {
    color: #F2F2F2;
    font-size: 12px; 
    margin-top: 20px; 
    }

.etoile-3 :nth-child(5) {
    color: #F2F2F2;
    font-size: 12px; 
    }





@media screen and (min-width: 630px) and (max-width: 991px){ /* valeur tablette*/

    .section_hebergement_populaires {
        
        width: 99%;
    }
    
    
    
    .bloc_hebergement_populaires{
        display: flex; 
        width: 95%;
    
        
    }
    
 
    .box_image_hebergement_populaires a {
        display: block;
        width: 99%;
    }

    
    .bloc_populaire {
        display: flex;
        justify-content: space-between ;
    } 


    .image_herbergement_populaire_1,
    .image_herbergement_populaire_2,
    .image_herbergement_populaire_3 {
    border-radius: 20px 20px 0px 0px;
    width: 95%;
    }


    .etoile-1,
    .etoile-2,
    .etoile-3,
    .etoile-4 {
     margin-top: -20px;
     padding-bottom: 10px;
    
    }



        } 
            


@media screen and (min-width: 630px) and (max-width: 991px){ /* valeur tablette*/

    .box_image_hebergement_populaires {
        display: block;
        flex: none;
        width: 210px;
        justify-content: space-evenly;
           
    } 

    .image_hebergement_populaires {
        width: 200px;
        height:100px;
        border-radius: 20px 20px 0px 0px;
        margin: 5px 5px 2px 5px;
    }

    .bloc_hebergement_populaires {
        display: flex;
        justify-content: space-between;

    }

    .section_hebergement_populaires {
        border-radius: 20px;
        margin: 0px 5px 0px 5px ;
    }


} 

@media screen and (min-width: 992px) { /* valeur Ordinateur*/
   
    .division_herbergement {
        align-items: baseline;
    }


    .box_image_hebergement_populaires { 
        height: auto;
        
    }
    
    
  


    .etoile-2 :nth-child(5) {
        order: 5;
    }
    
    .etoile-3 :nth-child(5) {
        order: 5;
    }



    .bloc_herbergement {
         display: flex;
    }   


    .afficher {
         margin-top: -10px;
         margin-bottom: -20px;
    }


    .section_hebergement_populaires {
        display: block;
        justify-content: space-evenly;
        border-radius: 20px;
        width: 500px;  
        
       
        height: auto;
    }

 

    .image_herbergement_populaire_1,
    .image_herbergement_populaire_2,
    .image_herbergement_populaire_3 {
        width: 205px;
        height: 205px;
        min-width: 205px;
        flex-shrink: 0;

    }


    .etoile-1,
    .etoile-2,
    .etoile-3 {
        margin-top: 70px;
    }


}


/********** Section herbergement**********/

.section_hebergement {
    padding-bottom: 10px;
    height: auto;  
    }


.titre_section_hebergement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin : 10px 20px 10px 20px;  
    }


.fa-chart-line {
    font-size: 1.9em; 
    }


.box_image_hebergement {

    background-color: white;
    margin: 10px 20px 20px 20px;
    border-radius: 20px;
    height: auto;
    box-shadow: 1px 1px 10px 10px #F2F2F2;
    padding-top: 1px;
    cursor: pointer;
}



.image_herbergement_1 {
    background-image: url("../image/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-position:center;
    background-size: cover;
    width: 98%;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    margin: 3px 3px 3px 3px;
    
}


.image_herbergement_2 {
    background-image: url("../image/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-position:center;
    background-size: cover;
    width: 98%;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    margin: 3px 3px 3px 3px;
}

.image_herbergement_3 {
    background-image: url("../image/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-position:center;
    background-size: cover;
    width: 98%;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    margin: 3px 3px 3px 3px;
}


.image_herbergement_4 {
    background-image: url("../image/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-position:center;
    background-size: cover;
    width: 98%;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    margin: 3px 3px 3px 3px;
}


.image_herbergement_5 {
    background-image: url("../image/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-position:center;
    background-size: cover;
    width: 98%;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    margin: 3px 3px 3px 3px;
}


.image_herbergement_6 {
    background-image: url("../image/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-position:center;
    background-size: cover;
    width: 98%;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    margin: 3px 3px 3px 3px;
}

.texte_image_hebergement{
    margin-left: 20px;
    margin-top: 10px;
    }   


.nom_hotel_hebergement {
    font-size: 1.2;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 10px;   
    }


.prix_nuit_herbergement {
    font-size: 1.1;
    margin-top: -5px;
    margin-bottom: -20px; 
    }    


.etoile_herbergement_1, 
.etoile_herbergement_2, 
.etoile_herbergement_3, 
.etoile_herbergement_4, 
.etoile_herbergement_5, 
.etoile_herbergement_6, 
.fa-star {
    color:#0065FC;
    font-size: 12px;
    margin-top: 15px;
    padding-bottom: 5px;
     
    }

.etoile_herbergement_1 :nth-child(5) {
    color: #F2F2F2;
    font-size: 12px;    
    }

.etoile_herbergement_3 :nth-child(5) {
    color: #F2F2F2;
    font-size: 12px;    
    }

.etoile_herbergement_4 :nth-child(5) {
    color: #F2F2F2;
    font-size: 12px;    
    }

.etoile_herbergement_4 :nth-child(4) {
    color: #F2F2F2;
    font-size: 12px;    
    }

.etoile_herbergement_5 :nth-child(5) {
    color: #F2F2F2;
    font-size: 12px;    
    }    

.afficher {
    margin-top: -20px;
    padding: 10px 20px 20px 25px;
    font-weight: bold;
    font-size: 1.2em;
    }  
    
@media screen and (min-width: 630px) and (max-width: 991px){ /* valeur tablette*/ 
    
    .bloc_herbergement {
        width: 100%;
        display: block;
        justify-content: space-between;
    }  
    
    
    .bloc_hebergement_1,
    .bloc_hebergement_2 {
        display: flex;
        justify-content: space-around;
        margin-left: -10px;
        width: 100%;     
        }  


     .box_image_hebergement {
        width: 32%; 
        }   


   .image_hebergement {
        width: 350px;
        margin: 5px 5px 5px 5px;
        } 


}  


@media screen and (min-width: 991px) { /* valeur Ordinateur*/

    .division_herbergement {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        margin: 0px -20px 0px -20px ;
        width: 100%;
    }
    


    .division_herbergement {
        flex-direction: row-reverse;
    }

    

    .section_hebergement {
        border-radius: 20px;
        width: 100%;
        background-color: #F2F2F2;
        display: block;  
        margin-right: 30px;
    }  
   

    .bloc_herbergement {
        display: block;
        width: 100%;       
    }

    .bloc_hebergement_1,
    .bloc_hebergement_2 {
        display: flex;
        justify-content: space-evenly;
        width: 100%;      
    }


    .box_image_hebergement {
        width: 33%;
        height: auto;
        
    }

    .image_herbergement_1,
    .image_herbergement_2,
    .image_herbergement_3,
    .image_herbergement_4,
    .image_herbergement_5,
    .image_herbergement_6 {
        height: 200px;
    }

  




}



/********** Section activites**********/

.section_activites {
    margin-bottom: 30px; 
    
}


.titre_section_activites {
    font-weight: bold ;
    margin : 10px 0px 50px 20px;  
}

    
.bloc_activites_1,
.bloc_activites_2 {
    margin: 10px 10px 10px 10px;
}    


.box_image_activites_1,
.box_image_activites_2,
.box_image_activites_3,
.box_image_activites_4,
.box_image_activites_5,
.box_image_activites_6 {
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 5px 5px #f1f1f1;
    cursor: pointer;
    height: 200px;
    margin-bottom: 10px;
}  
    


.img_activites_1 {
    background-image: url("../image/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    background-size: 100%;   
}


.img_activites_2 {
    background-image: url("../image/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    background-position: left 50% bottom 55%;

}


.img_activites_3 {
    background-image: url("../image/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
}


.img_activites_4 {
    background-image: url("../image/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    background-position: left 50% bottom 70%;
}


.img_activites_5 {
    background-image: url("../image/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 130%;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    background-position: left 50% bottom 80%;
}


.img_activites_6 {
    background-image: url("../image/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    background-position: left 20% bottom 80%;
}


.nom_hotel_activites {
    font-size: 1.0em;
    font-weight: bolder;
    padding-left: 10px;
} 

.box_nom_hotel {
    height: 50px;
}
    
    
@media screen and (min-width: 630px) and (max-width: 991px){ /* valeur tablette*/ 
    
    .bloc_activites {
        display: block;
        margin:0px;
        padding: 0px;
        
    }

    .box_image_activites_1,
    .box_image_activites_4{
        height: auto;
    }

    .box_image_activites_2,
    .box_image_activites_3,
    .box_image_activites_5,
    .box_image_activites_6{
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .bloc_activites_1,
    .bloc_activites_2 {
        display: block;
        width: 100%;
        margin:0px;
        margin-bottom: 10%;
        
        
    }


    .box_image_1,
    .box_image_3 {
        margin: 0px 10px 30px 10px ;
        height: 354px;
    }




    .box_image_2,
    .box_image_4 {
        display: flex;
        height: 238px;
    }



    .img_activites_1,
    .img_activites_4{
        background-size: cover;
        background-position: left 50% bottom 45%;
        height: 300px;
        box-shadow: 1px 1px 10px 10px #F2F2F2;
    }


    .img_activites_2,
    .img_activites_3,
    .img_activites_5,
    .img_activites_6 {
        background-size: cover; 
        height: 184px;
        width: 100%;
        box-shadow: 1px 1px 10px 10px #F2F2F2;
    }




    .titre_section_activites {
        margin: 20px 0px 10px 10px; 
    } 

}


@media screen and (min-width: 992px) { /* valeur Ordinateur*/


    .bloc_activites {
        display: flex; 
        align-items: baseline;
        margin:0px;     
        }

    .bloc_activites p {
        font-size: 1.1em;
    }    


    .bloc_activites_1,
    .bloc_activites_2 {
        display: flex;  
        justify-content: space-between;
        width: 100%;
        margin:0px;
        padding: 0px;
        
    }



    .box_image_1,
    .box_image_2,
    .box_image_3,
    .box_image_4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 0px 20px 0px 20px;
        height: 600px;
        
    }


    .box_image_activites_1,
    .box_image_activites_2,
    .box_image_activites_3,
    .box_image_activites_4,
    .box_image_activites_5,
    .box_image_activites_6 {
        height: auto;
    }

    .box_image_activites_2,
    .box_image_activites_5{
        margin-bottom: 40px;
    } 


  

    .img_activites_1{
        background-size: cover;
        background-position: left 50% bottom 45%;
        height: 545px;
        margin-right: 100px;
        width: 100%;
        }


    .img_activites_2 {
        background-size: cover;
        background-position: left 50% bottom 58%;
        height: 278px;
        width: 100%;
    }


    .img_activites_3 {
        background-size: cover;
        background-position: left 70% bottom 100%;
        height: 155px;
        width: 100%;
        }


    .img_activites_4 {
        background-size: cover;
        background-position: left 50% bottom 80%;
        
        height: 545px;
        width: 100%;
    }


    .img_activites_5,
    .img_activites_6{
        background-size: cover;
        background-position: left 50% bottom 100%;
        
        height: 217px;
        width: 100%;
    }


    .titre_section_activites {
        margin: 20px 0px 10px 10px; 
    }

}


/********** Section footer**********/

.section_footer {
    background-color: #F2F2F2;
    padding-bottom: 10px;
    margin: 10px -10px  0px -10px;
}

.a_propos h3, .nos_hebergement h3, .asistance h3 {
    padding: 20px 10px 10px 40px;
    margin-bottom: -20px;
    }

.section_footer li {
    list-style: none;
}    

@media screen and  (min-width: 630px){ /* valeur tablette*/ 
    
    .section_footer {
        margin-left: -20px;
        margin-right: 0px; 
        display: flex;
        justify-content: flex-start;
     
        
    }

    .a_propos,
    .nos_hebergement,
    .asistance {
        margin-right: 16%; 
    }

    
    .a_propos h3,
    .nos_hebergement h3,
    .asistance h3{
        font-size: 0.9em;
        margin-bottom: -25px;
    }


    .a_propos p,
    .nos_hebergement p,
    .asistance p {
        font-size: 0.8em;
    }

}





